
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background:color rgba(138, 44, 44, 0.2);
    transform: scale(1.067);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    border-radius: 12px;
    padding: 30px;
    width: 320px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

h2 {
    color: #1a1a1a;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: rgb(3, 3, 3);
    transition: 0.3s ease-in-out;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

input:focus {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    background: linear-gradient(135deg, #046ba7a9, #3b16a0);
    color: rgb(227, 234, 236);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    color: black;
    background: linear-gradient(135deg, #f8f8f8a9, #0cd1a0);
}

p {
    color: #ff4f4f;
    font-size: 0.9rem;
    margin-top: 10px;
}


